@import url('activity.css');
@import url('animal_page.css');
@import url('dashboard.css');
@import url('global.css');
@import url('login_signup.css');
@import url('main.css');
@import url('signin.css');
@import url('species-details.css');
@import url('image-control.css');